<?xml version="1.0"?>
<!--
/**
 *                       ######
 *                       ######
 * ############    ####( ######  #####. ######  ############   ############
 * #############  #####( ######  #####. ######  #############  #############
 *        ######  #####( ######  #####. ######  #####  ######  #####  ######
 * ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
 * ###### ######  #####( ######  #####. ######  #####          #####  ######
 * #############  #############  #############  #############  #####  ######
 *  ############   ############  #############   ############  #####  ######
 *                                      ######
 *                               #############
 *                               ############
 *
 * Adyen Payment Module
 *
 * Copyright (c) 2019 Adyen B.V.
 * This file is open source and available under the MIT license.
 * See the LICENSE file for more info.
 *
 * Author: Adyen <magento@adyen.com>
 */
/**
 * @category   Payment Gateway
 * @package    Adyen_Payment
 * @author     Adyen
 * @property   Adyen B.V
 * @copyright  Copyright (c) 2014 Adyen BV (http://www.adyen.com)
 */
-->
<config>
    <modules>
        <Adyen_Payment>
            <version>2.18.6</version>
        </Adyen_Payment>
    </modules>
    <global>
        <models>
            <adyen>
                <class>Adyen_Payment_Model</class>
                <resourceModel>adyen_resource</resourceModel>
            </adyen>
            <adyen_resource>
                <class>Adyen_Payment_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>adyen_api_debug</table>
                    </api_debug>
                    <event>
                        <table>adyen_event_data</table>
                    </event>
                    <event_queue>
                        <table>adyen_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>adyen_order_payment</table>
                    </order_payment>
                </entities>
            </adyen_resource>
        </models>
        <helpers>
            <adyen>
                <class>Adyen_Payment_Helper</class>
            </adyen>
            <payment>
                <rewrite>
                    <data>Adyen_Payment_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <adyen_setup>
                <setup>
                    <module>Adyen_Payment</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adyen_setup>
            <adyen_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adyen_write>
            <adyen_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adyen_read>
        </resources>
        <blocks>
            <adyen>
                <class>Adyen_Payment_Block</class>
            </adyen>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Adyen_Payment_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales>
        </blocks>
        <payment>
            <groups>
                <adyen>Adyen</adyen>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_item>
                <adyen_pre_order>
                    <to_order_item>*</to_order_item>
                </adyen_pre_order>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <adyen_pre_order>
                    <to_quote_item>*</to_quote_item>
                </adyen_pre_order>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <adyen_pre_order/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <adyen_payment_sales_quote_item_set_product>
                        <class>Adyen_Payment_Model_Observers_Quote</class>
                        <method>salesQuoteItemSetProduct</method>
                    </adyen_payment_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_capture>
                <observers>
                    <adyen_payment_capture>
                        <class>adyen/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </adyen_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <sales_order_shipment_save_before>
                <observers>
                    <adyen_payment_capture_invoice_on_shipment>
                        <class>adyen/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </adyen_payment_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </global>

    <frontend>
        <secure_url>
            <adyen_process>/adyen/process</adyen_process>
        </secure_url>
        <routers>
            <adyen>
                <use>standard</use>
                <args>
                    <module>Adyen_Payment</module>
                    <frontName>adyen</frontName>
                </args>
            </adyen>
        </routers>
        <translate>
            <modules>
                <adyen>
                    <files>
                        <default>Adyen_Payment.csv</default>
                    </files>
                </adyen>
            </modules>
        </translate>
        <layout>
            <updates>
                <adyen>
                    <file>adyen.xml</file>
                </adyen>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adyen before="Mage_Adminhtml">Adyen_Payment_Adminhtml</adyen>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <adyen>
                    <file>adyen.xml</file>
                </adyen>
            </updates>
        </layout>
        <translate>
            <modules>
                <Adyen_Payment>
                    <files>
                        <default>Adyen_Payment.csv</default>
                    </files>
                </Adyen_Payment>
            </modules>
        </translate>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <adyen_payment>
                        <class>adyen/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </adyen_payment>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </adminhtml>
    <default>
        <payment>
            <adyen_abstract>
                <active>0</active>
                <model>adyen/adyen_dummy</model>
                <currency>EUR</currency>
                <secret_wordt></secret_wordt>
                <secret_wordp></secret_wordp>
                <delivery_days>14</delivery_days>
                <ws_username_test></ws_username_test>
                <ws_password_test></ws_password_test>
                <ws_username_live></ws_username_live>
                <ws_password_live></ws_password_live>
                <demoMode>Y</demoMode>
                <debug>1</debug>
                <uncancelorder>1</uncancelorder>
                <unholdorder>0</unholdorder>
                <autorefundoncancel>1</autorefundoncancel>
                <order_status>pending</order_status>
                <payment_authorized>processing</payment_authorized>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <capture_mode>auto</capture_mode>
                <create_pending_invoice>0</create_pending_invoice>
                <recurringtypes>ONECLICK</recurringtypes>
                <auto_capture_openinvoice>0</auto_capture_openinvoice>
                <paypal_capture_mode>auto</paypal_capture_mode>
                <send_email_bank_sepa_on_pending>0</send_email_bank_sepa_on_pending>
                <title_renderer>title_image</title_renderer>
                <ignore_refund_notification>0</ignore_refund_notification>
                <multiple_merchants>1</multiple_merchants>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
            </adyen_abstract>
            <adyen_pos_cloud translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_posCloud</model>
                <group>adyen</group>
                <title>Adyen POS Terminal API</title>
                <recurring_type>NONE</recurring_type>
                <sort_order>100</sort_order>
                <visible_type>frontend</visible_type>
                <timeout>25</timeout>
                <total_timeout>120</total_timeout>
                <sort_order>80</sort_order>
                <create_shipment>0</create_shipment>
                <allowspecific>0</allowspecific>
                <ip_filter>0</ip_filter>
            </adyen_pos_cloud>
            <adyen_pay_by_link>
                <active>0</active>
                <model>adyen/adyen_payByLink</model>
                <group>adyen</group>
                <visible_type>frontend</visible_type>
                <title>Pay By Link</title>
                <expires_after>1</expires_after>
                <sort_order>10</sort_order>
            </adyen_pay_by_link>
        </payment>
        <adyen>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>
                    <troy>
                        <code>troy</code>
                        <code_alt>troy</code_alt>
                        <name>Troy</name>
                        <order>100</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </troy>
                    <cup>
                        <code>cup</code>
                        <code_alt>cup</code_alt>
                        <name>Cup</name>
                        <order>110</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </cup>
                    <dankort>
                        <code>dankort</code>
                        <code_alt>dankort</code_alt>
                        <name>Dankort</name>
                        <order>120</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </dankort>
                </cctypes>
                <boletotypes>
                    <boletobancario_hsbc>
                        <code>boletobancario_hsbc</code>
                        <name>boletobancario_hsbc</name>
                        <order>0</order>
                    </boletobancario_hsbc>
                    <boletobancario_itau>
                        <code>boletobancario_itau</code>
                        <name>boletobancario_itau</name>
                        <order>0</order>
                    </boletobancario_itau>
                    <boletobancario_santander>
                        <code>boletobancario_santander</code>
                        <name>boletobancario_santander</name>
                        <order>0</order>
                    </boletobancario_santander>
                    <boletobancario_bradesco>
                        <code>boletobancario_bradesco</code>
                        <name>boletobancario_bradesco</name>
                        <order>0</order>
                    </boletobancario_bradesco>
                    <boletobancario_bancodobrasil>
                        <code>boletobancario_bancodobrasil</code>
                        <name>boletobancario_bancodobrasil</name>
                        <order>0</order>
                    </boletobancario_bancodobrasil>
                </boletotypes>
                <openinvoicetypes>
                    <afterpay>
                        <code>afterpay_default</code>
                        <name>AfterPay Netherlands</name>
                        <order>10</order>
                    </afterpay>
                    <klarna>
                        <code>klarna</code>
                        <name>Klarna</name>
                        <order>20</order>
                    </klarna>
                    <ratepay>
                        <code>ratepay</code>
                        <name>RatePAY</name>
                        <order>30</order>
                    </ratepay>
                </openinvoicetypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </adyen>
    </default>
    <crontab>
        <jobs>
            <adyen_payment_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adyen/cronjob::updateNotificationQueue</model>
                </run>
            </adyen_payment_process_notification_queue>
            <adyen_payment_process_cancel_expired_paybylink>
                <schedule>
                    <cron_expr>*/60 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adyen/cronjob::cancelExpiredPaybylink</model>
                </run>
            </adyen_payment_process_cancel_expired_paybylink>
        </jobs>
    </crontab>
</config>
